*.swp
.DS_Store
*~
.project
phonegap/
build/phonegap/Models/*
build/phonegap/www/css/
build/phonegap/www/img/
build/phonegap/www/js/Models/
build/phonegap/www/js/Views/
build/phonegap/www/lib/
build/phonegap/www/tpl/
node_modules/
dist/