*.swp
.DS_Store
*~
.project
phonegap/www/css
phonegap/www/img
phonegap/www/js
phonegap/www/lib
phonegap/www/tpl
phonegap/www/test
build/phonegap/www/css/
build/phonegap/www/img/
build/phonegap/www/js/
build/phonegap/www/lib/
build/phonegap/www/tpl/
node_modules/
