<style>
	.removeAppt, .addAppt {
		border: rgb(204, 204, 204) solid 1px;
	}
	span.ui-btn-icon-notext {
		border: none;
		box-shadow: none;
		background: none;
	}
	.ui-icon-shadow {
		box-shadow: none;
	}
	#condition-status {
		padding-top: 5px;
	}
</style>
<a id="<%= type %>-detail" href="#<%= type %>/<%= _id %>"> <h3 class="swiper-container">
<div class="swiper-wrapper">
	<div class="swiper-slide">
		<div class="item-title">
			<h3 class="ui-li-heading"><%= time %>  <%= title %> </h3>
			<div id="appt-desc">
				<% if (doctor.title && doctor.title != "None") { %>
				<div id="doctor-title">
					Doctor: <%= doctor.title %>
				</div>
				<% } %>
				<% if (condition.title && condition.title != "None") { %>
				<div id="condition-title">
					Condition: <%= condition.title %>
				</div>
				<% } %>
			</div>

		</div>
	</div>
	<div class="swiper-slide ui-grid-a">
		<div class="modifyItem ui-block-b">
			<div class="appt-item-btn ui-bar ui-bar-f">
				<span class="modify-text">Modify</span>
			</div>
		</div>
		<div class="appt-item-btn removeItem ui-block-b">
			<div class="ui-bar">
				<span class="delete-text">Delete</span>
			</div>
		</div>
	</div>
</div></h3>