<div data-role="header" >
	<h1>Modify Appointment</h1>
</div>

<div data-role="content">				

  <div data-role="fieldcontain">
    <input type="hidden" id="apptId" value="<%= id %>" />
    
    <label for="title">Name:</label>
    <input type="text" name="title" id="title" value="<%= title %>" />   
  
    <label for="appt-date">Date:</label>    
    <input type="date" name="appt-date" id="appt-date" value="<%= apptDate %>" />

    <label for="appt-time">Time:</label>    
    <input type="time" name="appt-time" id="appt-time" value="<%= apptTime %>" />
    
    <label for="select-bug" class="select">Choose bug:</label>
    <select name="select-bug" id="select-bug">
      <option value="none">None</option>
    </select> 

    <label for="select-doctor" class="select">Choose doctor:</label>
    <select name="select-doctor" id="select-doctor">
      <option value="none">None</option>
    </select>
  </div>

</div>

	<a href="#" id="modBtn" data-role="button" data-icon="plus" data-theme="e">Modify</a> 
	 <a href="#" id="cancelBtn" class="back" data-role="button" data-icon="delete" data-theme="b">Cancel</a> 


