<div data-role="header">
	<a href="#" data-icon="back" class="back ui-btn-left">Back</a>
	<h1>
	<input type="text" id="bugTitleTxtInput" class="bugDetailTxtInput" value="<%= title %>" />
	</h1>
	<a href="#bug/<% _id %>" data-role="button" id="doneModify" data-theme="b" data-mini="true" data-inline="true">Done</a>
</div>
<div data-role="content">
	<div id="savePopup">
		<p>
			Bug Saved
		</p>
	</div>
	<p>
		<strong>Status:</strong>
		<input type="text" class="bugDetailTxtInput" id="bug_status_input" value="<%= bugStatus %>" />
	</p>
	<p>
		<strong>Details:</strong>
		<input type="text" class="bugDetailTxtInput" id="bug_details_input" value="<%= bugDetails %>" />
	</p>
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<legend>
				Priority:
			</legend>
			<label for="select-choice-month">Select Priority</label>
			<select name="select-choice-month" id="select-choice-month">
				<% _.each(_.range(1,6), function(num) {
				var str;
				if (num == bugPriority) {
				str = "<option selected value='"+num+"'>"+num+"</option>";
				} else {
				str = "<option value='"+num+"'>"+num+"</option>";
				}
				print(str);
				});   %>
			</select>

		</fieldset>
	</div>
</div>
	<fieldset data-role="controlgroup">
		<label for="select-color" class="select-color-label">Category</label>
		<select name="select-color" id="select-color">
			<option value="default">COLOR</option>
		</select>
	</fieldset>
<div data-role="collapsible-set"  data-iconpos="right" data-theme="b">

	<div id="assigned-collapsible" data-role="collapsible" >

		<h3>Assigned to:</h3>
		<p>
			<span id="assignedTo"><%= assignedTo %></span><a href="#" id="changeAssignedTo" iconpos="notext"  data-inline="true" data-mini="true" data-role="button" data-icon="back" >Change</a>
		</p>
	</div>
	<div id="symptoms-collapsible" data-role="collapsible">
		<h3>Symptoms</h3>
		<p>
			<table style='width:100%'>
				<tbody>
					<tr>
						<td>
							<fieldset data-role="controlgroup">
								<label for="select-symptom" class="select-symptom-label">Category</label>
								<select name="select-symptom" id="select-symptom">
									<option value="default">Choose Symptom</option>
								</select>
							</fieldset>						
						</td>
						<td style='width:5em; padding-left:1em'><a class="add_detail_item" data-type="symptom" data-role="button" data-icon="plus" >Add</a></td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<ul>
				<% _.each( symptom, function( Item ){ %>
				<li>
					<span class="itemName"><span data-id="<%= Item.id %>" class="itemName"><%= Item.title %></span></span><a href="#" data-role="button" data-inline="true" data-icon="delete" data-id="<%= Item.id %>" class="delete_detail_item" data-type="symptom" data-iconpos="notext">X</a>
				</li>
				<% }); %>
			</ul>
		</p>

	</div>
	<div id="medications-collapsible" data-role="collapsible" >

		<h3>Medications:</h3>
		<p>
			<table style='width:100%'>
				<tbody>
					<tr>
						<td>
							<fieldset data-role="controlgroup">
								<label for="select-medication" class="select-medication-label">Category</label>
								<select name="select-medication" id="select-medication">
									<option value="default">Choose Medication</option>
								</select>
							</fieldset>	
						</td>
						<td style='width:5em; padding-left:1em'><a class="add_detail_item" data-type="medication" data-role="button" data-icon="plus" >Add</a></td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<ul>
				<% _.each( medication, function( Item ){ %>
				<li>
					<span class="itemName"><span data-id="<%= Item.id %>" class="itemName"><%= Item.title %></span></span><a href="#" data-role="button" data-inline="true" data-icon="delete" data-id="<%= Item.id %>" class="delete_detail_item" data-type="medication" data-iconpos="notext">X</a>
				</li>
				<% }); %>
			</ul>
		</p>
	</div>
</div>