<style>
	span.ui-btn-icon-notext {
		border: none;
		box-shadow: none;
		background: none;
	}
	.ui-icon-shadow {
		box-shadow: none;
	}
	.removeItem {
		background: #B84645;
		padding-right: 10px;
		padding-top: 8px;
		padding-bottom: 7px;
		border: 1px solid #b3b3b3 /*{d-bar-border}*/;
	}
	.retireItem {
		padding-top: 14px;
		padding-bottom: 15px;
	}
	.removeItem, .retireItem {
		text-align: center;	
	}
	#medication-detail {
		padding: 0;
	}
	.swiper-slide {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.item-title {
		padding-top: 11px;
		padding-left: 15px;
	}
	.plus-one .ui-btn-inner {
		border-top: 0;
		border-bottom: 0;
	}
	#myList .ui-li.ui-btn {
		border-top: 0;
		border-bottom: 0;
	}
	#myList li .ui-btn-inner {
		border-top: 0;
	}
	.delete-text {
		padding-right: 20px;
	}
</style>
<a id="<%= type %>-detail" href="#<%= type %>/<%= _id %>">
	
	<h3 class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="item-title <%= type %>-title"><%= title %></div>
			</div>
			<div class="ui-grid-a swiper-slide">
				<div data-theme="d" class="ui-block-a">
					<div class="ui-bar retireItem ui-bar-d">Retire</div>
				</div>
				<div class="removeItem ui-block-b">
					<div class="ui-bar"><span class="delete-text">Delete</span></div>
			</div>
		</div>
	</h3>
	<a class="plus-one ui-icon-nodisc" href="#"></a>
</a>
