<div data-role="header" >
	<a href="#" id="logout" data-icon="delete" data-theme="c">Logout</a>
	<h1>Medical Info</h1>
	<a href="#" class="edit" data-icon="gear" data-theme="e">Modify</a>
</div>

<div data-role="content">	
	
<ul data-role="listview">
	<li data-role="list-divider">
		Blood Type
		<span style="float:right;"> <strong>A Pos.</strong/> </span>
	</li>
</ul>
	<h2 id="username"><%= username %></h2>
	<h3 id="age">Age <%= age %></h3>
	<h3 id="last-checkup">Last Checkup: <%= last_checkup %></h3>

</div>
