
@font-face {
    font-family: 'bobregular';
    src: url('bob-webfont.eot');
    src: url('bob-webfont.eot?#iefix') format('embedded-opentype'),
         url('bob-webfont.woff') format('woff'),
         url('bob-webfont.ttf') format('truetype'),
         url('bob-webfont.svg#bobregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ui-title, #confirm, #yes, #cancel {
	font-family: 'bobregular' !important
}

#savePopup p {
background: darkgray;
padding: 10px;
border-radius: 15px;
text-align: center;
font-weight: bold;
}
.ui-datebox-container {
  width: 346px;
}
#add-appt-header, #add-appt-header div {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ui-datebox-container {
	margin: auto;
	width: 285px;
}
/* Custom styling for the popup */
#confirm {
	border: 1px solid;
	border-color: #044062; /* Fallback for older browsers */
	border-color: rgba(4,64,98,.4);
	background: #456f9a; /* Fallback for older browsers */
	background: rgba(69,111,154,.8);
	-moz-box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
	-webkit-box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
	box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
	max-width: 250px;
}
#confirm p {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	margin-bottom: .75em;
}
/* Make the buttons inherit the popup border-radius (.ui-corner-all) */
#confirm div, #confirm .ui-btn-corner-all {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
#confirm #cancel {
	background-image: none;
}
#confirm .topic.ui-li-desc {
	font-size: inherit; /* The cloned topic will have class ui-li-desc so we negate the font-size settings of this class */
	text-align: center;
}

.cancelBtn {
	background: red;
}
